.DS_Store
build/
/autom4te.cache
/DerivedData
/bravo.xcodeproj
/winbuild
/apps/baretta/winbuild
/apps/serrano/winbuild
/apps/baretta/.deps
/apps/serrano/.deps
/src/.deps

/extra/math_lib_demo/1.0.0/build
/extra/math_lib_demo/1.0.0/install
/extra/math_lib_demo/1.0.1/build
/extra/math_lib_demo/1.0.1/install
/extra/math_lib_demo/1.1.0/build
/extra/math_lib_demo/1.1.0/install
/extra/math_lib_demo/1.2.0/build
/extra/math_lib_demo/1.2.0/install
/extra/math_lib_demo/2.0.0/build
/extra/math_lib_demo/2.0.0/install
/extra/math_lib_demo/3.0.0/build
/extra/math_lib_demo/3.0.0/install
/extra/math_lib_demo/3.1.0/build
/extra/math_lib_demo/3.1.0/install
/extra/math_lib_demo/3.2.0/build
/extra/math_lib_demo/3.2.0/install
/extra/math_lib_demo/3.3.0/build
/extra/math_lib_demo/3.3.0/install
/extra/math_lib_demo/4.0.0/build
/extra/math_lib_demo/4.0.0/install
/extra/math_lib_demo/4.1.0/build
/extra/math_lib_demo/4.1.0/install


/extra/math_app_demo/1.0.0/build
/extra/math_app_demo/1.0.0/install
/extra/math_app_demo/1.1.0/build
/extra/math_app_demo/1.1.0/install
/extra/math_app_demo/1.2.0/build
/extra/math_app_demo/1.2.0/install
/extra/math_app_demo/2.0.0/build
/extra/math_app_demo/2.0.0/install
/extra/math_app_demo/3.0.0/build
/extra/math_app_demo/3.0.0/install
/extra/math_app_demo/4.0.0/build
/extra/math_app_demo/4.0.0/install

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
